{{# {{ dump }} #}}
<div class="ud-header absolute left-0 top-0 z-40 flex w-full items-center bg-blue-600">
    <div class="container m-auto px-4">
        <div class="relative -mx-4 flex items-center justify-between">
            {{ partial:partials/header/logo }}

            <div class="flex w-full items-center justify-between px-4">
                {{ partial:partials/header/nav_primary }}

                {{ partial:partials/header/nav_utility }}
            </div>
        </div>
    </div>
</div>
<!-- ====== Navbar Section End -->
